@{
    ViewData["Title"] = "Donation Tracker";
}

<div class="text-center">
    <h1>Donation Tracker</h1>
    <form action="https://www.paypal.com/paypalme/djcaleb0?locale.x=en_US">
        <input type="submit" value="Paypal Me" />
    </form>

    <p>Money Donated
        <span style="color: red;">$1.25</span>
    </p>
</div>
